* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(fonts/Norse-Bold.otf);
}

body {
    display: flex;
    font-family: sans-serif;
}

#aside {
    flex: 0 0 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    background-image: url(img/nicola-pavan-fum5PsUHyt4-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#form-title {
    height: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.466);
    justify-content: center;
    font-family: 'Norse Bold';
    margin-top: 20vh;
    font-size: 100px;
    align-items: center;
    color: white;
    padding: 1vh;
}

#form-title img {
    flex: 0 1 auto;
    width: 100px;
}

#img-credits {
    color: white;
    padding: 1vh;
}

#img-credits a{
    color: white;
}

#form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#form > div {
    width: auto;
    flex: 1 1 auto;
}

#form > div:first-child {
    padding: 5vh;
    display: flex;
    align-content: end;
    flex-wrap: wrap;
}

#form > div:first-child div {
    margin-bottom: 20px;
}

#form > div:first-child div:first-child {
    width: 100%;
}

#form div p {
    width: 100%;
}